<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rewear_app1">

    <!-- Izin yang dibutuhkan, jika diperlukan -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.ReWear_app1">

        <!-- MainActivity sebagai aktivitas utama yang akan diluncurkan pertama kali -->
        <activity android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.ReWear_app1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity Register -->
        <activity android:name=".RegisterActivity"
            android:exported="false">
        </activity>

        <!-- Activity Home -->
        <activity android:name=".HomeActivity"
            android:exported="true" />

    </application>

</manifest>
